<div class="search_">
  <button class="remove__search" (click)="this.searched = false">
    &times;
  </button>

  <div class="filter__search">
    <button
      (click)="searchSongs('track')"
      [ngStyle]="{
        'background-color': filterTerm === 'track' ? '#535050' : ''
      }"
    >
      song
    </button>
    <button
      (click)="searchSongs('artist')"
      [ngStyle]="{
        'background-color': filterTerm === 'artist' ? '#535050' : ''
      }"
    >
      artist
    </button>
    <button
      (click)="searchSongs('playlist')"
      [ngStyle]="{
        'background-color': filterTerm === 'playlist' ? '#535050' : ''
      }"
    >
      playlists
    </button>
    <button
      (click)="searchSongs('album')"
      [ngStyle]="{
        'background-color': filterTerm === 'album' ? '#535050' : ''
      }"
    >
      album
    </button>
  </div>

  <ng-container [ngSwitch]="filterTerm">
    <ng-container *ngSwitchCase="'track'">
      <ul class="search__list">
        <li
          class="search__li"
          *ngFor="let song of foundSongs"
          (click)="navigateToPlaylist(song.id)"
          (click)="selectedSongId = song.id"
        >
          <a class="search__link">
            <figure class="search__fig">
              <img [src]="song.album.images[0].url" alt="{{ song.name }}" />
            </figure>
            <div class="search__data">
              <p class="search__data-p">
                {{ song.album.name }}
              </p>
              <h4 class="search__name">
                {{ song.name }}
              </h4>
              <span class="artists">
                <p
                  class="playlist__artist"
                  *ngFor="let artist of song?.album?.artists; let last = last"
                >
                  <a [href]="artist.external_urls.spotify" target="_blank">{{
                    artist.name
                  }}</a>
                  <span *ngIf="!last">, </span>
                </p>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="'artist'">
      <ul class="search__list">
        <li
          class="search__li"
          *ngFor="let song of foundSongs"
          (click)="navigateToPlaylist(song.id)"
          (click)="selectedSongId = song.id"
        >
          <a class="search__link">
            <figure class="search__fig">
              <img [src]="song.images[0].url" alt="{{ song.name }}" />
            </figure>
            <div class="search__data">
              <p class="search__data-p">
                {{ song.type }}
              </p>
              <h4 class="search__name">
                {{ song.name }}
              </h4>
              <p class="search__artist" *ngFor="let genre of song.genres">
                {{ genre }}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="'playlist'">
      <ul class="search__list">
        <li
          class="search__li"
          *ngFor="let song of foundSongs"
          (click)="navigateToPlaylist(song.id)"
          (click)="selectedSongId = song.id"
        >
          <a class="search__link">
            <figure class="search__fig">
              <img [src]="song.images[0].url" alt="{{ song.name }}" />
            </figure>
            <div class="search__data">
              <p class="search__data-p">
                {{ song.type }}
              </p>
              <h4 class="search__name">
                {{ song.name }}
              </h4>
              <p class="search__artist">
                {{ song?.owner?.display_name }}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="'album'">
      <ul class="search__list">
        <li
          class="search__li"
          *ngFor="let song of foundSongs"
          (click)="navigateToPlaylist(song.id)"
          (click)="selectedSongId = song.id"
        >
          <a class="search__link">
            <figure class="search__fig">
              <img [src]="song.images[0].url" alt="{{ song.name }}" />
            </figure>
            <div class="search__data">
              <p class="search__data-p">
                {{ song.type }}
              </p>
              <h4 class="search__name">
                {{ song.name }}
              </h4>
              <span class="artists">
                <p
                  class="playlist__artist"
                  *ngFor="let artist of song?.artists; let last = last"
                >
                  <a [href]="artist.external_urls.spotify" target="_blank">{{
                    artist.name
                  }}</a>
                  <span *ngIf="!last">, </span>
                </p>
              </span>
            </div>
          </a>
          <!-- 
          <a class="search__link">
            <figure class="search__fig">
              <img [src]="song.album.images[0].url" alt="{{ song.name }}" />
            </figure>
            <div class="search__data">
              <p class="search__data-p">
                {{ song.album.name }}
              </p>
              <h4 class="search__name">
                {{ song.name }}
              </h4>
              <span class="artists">
                <p
                  class="search__artist"
                  *ngFor="let artist of song?.album?.artists; let last = last"
                >
                  <a [href]="artist.external_urls.spotify" target="_blank">{{
                    artist.name
                  }}</a>
                  <span *ngIf="!last">, </span>
                </p>
              </span>
            </div>
          </a> -->
        </li>
      </ul>
    </ng-container>
  </ng-container>

  <div *ngIf="noSearch" class="nosearch">
    <h4 class="feature__heading">Search Result for '{{ searchTerm }}'</h4>
    <h1>Your search result doesnt exist</h1>
    <p>No results found for '{{ searchTerm }}'.</p>
  </div>

  <loader-sub *ngIf="showLoader$ | async"></loader-sub>
</div>
