<div class="userPage">
  <navigation></navigation>

  <main class="flex">
    <div class="navigation">
      <!-- <div class="user">
        <img src="/assets/img/user-Mikel.jpg" alt="User" class="user__img" />
        <h4 class="user__name">Mikel</h4>
      </div> -->
      <div class="small">
        <h2 class="small__p">Create your first playlist</h2>
        <button [routerLink]="['/playlist/new']" class="small__btn">
          Create playlist
        </button>
      </div>

      <nav class="sidenav">
        <ul class="nav">
          <li class="nav__item" [routerLink]="['/playlist']">
            <a class="nav__link" routerLinkActive="navActive">
              <svg class="nav__icon">
                <use
                  xlink:href="/assets/img/sprite.svg#icon-music-playlist"
                ></use>
              </svg>
              <span>Playlist</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-paperclip"></use>
              </svg>
              <span>category</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/liked-songs']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-heart"></use>
              </svg>
              <span>likes</span>
            </a>
          </li>

          <li class="nav__item nav__item--active" [routerLink]="['/history']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-reload"></use>
              </svg>
              <span>history</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-download"></use>
              </svg>
              <span>downloads</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-star"></use>
              </svg>
              <span>favourite</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-credit-card"></use>
              </svg>
              <span>subscription</span>
            </a>
          </li>
        </ul>

        <div class="legal">
          <p>© Copyright by Saint.</p>
        </div>
      </nav>
    </div>

    <div class="home_">
      <div>
        <div>
          <button class="close__btn" [routerLink]="['/playlist']">
            <svg class="menu-icon">
              <use xlink:href="/assets/img/sprite.svg#icon-circle-left"></use>
            </svg>
          </button>
          <div class="top__container">
            <div class="top__fig--container">
              <svg class="top__fig">
                <use xlink:href="/assets/img/sprite.svg#icon-reload"></use>
              </svg>
            </div>
            <div class="header__container">
              <p>Playlist</p>
              <h4 class="header__heading">{{ title }}</h4>
              <p>Songs you love right now</p>
            </div>
          </div>
          <ul class="playlist__list likes__list" style="padding: 0">
            <hr />
          
          </ul>
        </div>
      </div>
    </div>

    <player></player>
  </main>
</div>
