<div class="box">
  <button class="close__btn" [routerLink]="['/playlist']">
    <svg class="menu-icon">
      <use xlink:href="/assets/img/sprite.svg#icon-circle-left"></use>
    </svg>
  </button>
  <div class="top__container">
    <div class="top__fig--container">
      <svg class="top__fig">
        <use xlink:href="/assets/img/sprite.svg#icon-reload"></use>
      </svg>
    </div>
    <div class="header__container">
      <p>Playlist</p>
      <h4 class="header__heading">{{ title }}</h4>
      <p>Songs you love right now</p>
    </div>
  </div>
  <ul class="playlist__list likes__list" style="padding: 0">
    <hr />
  </ul>
</div>
