<div class="box">
  <button class="close__btn" [routerLink]="['/playlist']">
    <svg class="menu-icon">
      <use xlink:href="/assets/img/sprite.svg#icon-circle-left"></use>
    </svg>
  </button>
  <div class="top__container">
    <div class="top__fig--container">
      <svg class="top__fig">
        <use xlink:href="/assets/img/sprite.svg#icon-music-playlist"></use>
      </svg>
    </div>
    <div class="header__container">
      <p>Playlist</p>
      <h4
        class="header__heading"
        [style.cursor]="'pointer'"
        (click)="renamePlaylist()"
      >
        {{ name }}
      </h4>
      <p>{{ description }}</p>
    </div>
  </div>
  <hr />

  <div class="create__name--container" *ngIf="titleIsClicked">
    <div class="create__name">
      <h2 class="create__name--heading">Edit details</h2>
      <button class="create__name--close" (click)="closeRenamePlaylist()">
        &times;
      </button>
      <div class="create__name--flex">
        <div class="create__name---img-container">
          <svg class="create__name---svg">
            <use xlink:href="/assets/img/sprite.svg#icon-music-playlist"></use>
          </svg>
        </div>

        <form class="create__name---form" [formGroup]="changeName">
          <label class="create__name---name-label">Name</label>

          <input
            formControlName="name"
            maxlength="9"
            class="create__name---name-input"
            type="text"
            placeholder="My playlist #1"
          />

          <label class="create__name---description-label">Description</label>

          <textarea
            placeholder="Add an optional description"
            formControlName="description"
          >
          </textarea>
          <span> </span>
        </form>
      </div>
      <button class="bn5" (click)="saveName(changeName.value)">Save</button>
    </div>
    <div class="overlay"></div>
  </div>
</div>
