<div class="userPage">
  <navigation></navigation>

  <main class="flex">
    <div class="navigation">
      <!-- <div class="user">
          <img src="/assets/img/user-Mikel.jpg" alt="User" class="user__img" />
          <h4 class="user__name">Mikel</h4>
        </div> -->

      <div class="small">
        <h2 class="small__p">Create your first playlist</h2>
        <button [routerLink]="['/playlist/new']" class="small__btn">
          Create playlist
        </button>
      </div>

      <nav class="sidenav">
        <ul class="nav">
          <li class="nav__item nav__item--active" [routerLink]="['/playlist']">
            <a class="nav__link" routerLinkActive="navActive">
              <svg class="nav__icon">
                <use
                  xlink:href="/assets/img/sprite.svg#icon-music-playlist"
                ></use>
              </svg>
              <span>Playlist</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-paperclip"></use>
              </svg>
              <span>category</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/liked-songs']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-heart"></use>
              </svg>
              <span>likes</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/history']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-reload"></use>
              </svg>
              <span>history</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-download"></use>
              </svg>
              <span>downloads</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-star"></use>
              </svg>
              <span>favourite</span>
            </a>
          </li>

          <li class="nav__item" [routerLink]="['/404']">
            <a class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-credit-card"></use>
              </svg>
              <span>subscription</span>
            </a>
          </li>
        </ul>

        <div class="legal">
          <p>© Copyright by Saint.</p>
        </div>
      </nav>
    </div>

    <div class="home_">
      <div>
        <div>
          <button class="close__btn" [routerLink]="['/playlist']">
            <svg class="menu-icon">
              <use xlink:href="/assets/img/sprite.svg#icon-circle-left"></use>
            </svg>
          </button>
          <div class="top__container">
            <div class="top__fig--container">
              <svg class="top__fig">
                <use
                  xlink:href="/assets/img/sprite.svg#icon-music-playlist"
                ></use>
              </svg>
            </div>
            <div class="header__container">
              <p>Playlist</p>
              <h4 class="header__heading">{{ currentPlaylist?.name }}</h4>
              <p>{{ currentPlaylist?.abstract }}</p>
            </div>
          </div>

          <!-- <div class="big__play">
            <svg
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.8906 12.846C18.5371 14.189 16.8667 15.138 13.5257 17.0361C10.296 18.8709 8.6812 19.7884 7.37983 19.4196C6.8418 19.2671 6.35159 18.9776 5.95624 18.5787C5 17.6139 5 15.7426 5 12C5 8.2574 5 6.3861 5.95624 5.42132C6.35159 5.02245 6.8418 4.73288 7.37983 4.58042C8.6812 4.21165 10.296 5.12907 13.5257 6.96393C16.8667 8.86197 18.5371 9.811 18.8906 11.154C19.0365 11.7084 19.0365 12.2916 18.8906 12.846Z"
                stroke="#2e415a"
                stroke-width="1.5"
                stroke-linejoin="round"
              />
            </svg>
          </div> -->

          <hr />
          <ul class="playlist__list" style="padding: 0">
            <song-list [displaySongs]="currentPlaylist?.songs"></song-list>
          </ul>
        </div>
      </div>
    </div>

    <player></player>
  </main>
</div>