<div class="modal">
  <button (click)="closeModal()" class="btn--close-modal">&times;</button>
  <h2 class="modal__header">Sign in to listen for free</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="modal__form">
    <div>
      <label>Email Address</label>
      <em
        *ngIf="
          loginForm.controls['email']?.invalid &&
          loginForm.controls['email']?.touched
        "
        class="error"
        ><i>Required</i></em
      >
    </div>
    <input
      [ngClass]="{
        wrong:
          loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched
      }"
      formControlName="email"
      id="email"
      required
      type="email"
      class="input__user"
    />
    <div>
      <label>Password</label>
      <em
        *ngIf="
          loginForm.controls['password']?.invalid &&
          (loginForm.controls['password']?.touched || mouseoverLogin)
        "
        class="error"
        ><i>Required</i></em
      >
    </div>
    <input
      [ngClass]="{
        wrong:
          loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].touched || mouseoverLogin)
      }"
      formControlName="password"
      id="password"
      type="password"
      class="input__pin"
    />
    <span
      (mouseenter)="mouseoverLogin = true"
      (mouseleave)="mouseoverLogin = false"
    >
      <button [disabled]="!loginForm.valid">Sign in ➡</button>
    </span>
  </form>
  <button (click)="signInWithGoogle()" class="input__btn">
    <img
      src="assets/img/google-icon.svg"
      alt="Google Icon"
      style="height: 1.3rem"
    />
    Continue with Google
  </button>
  <button class="su" (click)="goToSignUp()">
    Don't have an account?<span>Sign Up</span>
  </button>
</div>
<div class="overlay">
  <img src="/assets/img/logo.png" alt="" class="logo" />
  <figure class="notification hidden">
    <div class="notification__body">Successfully Logged in! &#128640;</div>
    <div class="notification__progress"></div>
  </figure>
</div>
