<div *ngIf="!hasAccount" class="modal">
  <button (click)="closeModal()" class="btn--close-modal">&times;</button>
  <h2 class="modal__header">Sign in to listen for free</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="modal__form">
    <div>
      <label>Email Address</label>
      <em
        *ngIf="
          loginForm.controls['userName']?.invalid &&
          loginForm.controls['userName']?.touched
        "
        class="error"
        ><i>Required</i></em
      >
    </div>
    <input
      [ngClass]="{
        wrong:
          loginForm.controls['userName'].invalid &&
          loginForm.controls['userName'].touched
      }"
      formControlName="userName"
      id="userName"
      required
      type="email"
      class="input__user"
    />
    <div>
      <label>Password</label>
      <em
        *ngIf="
          loginForm.controls['password']?.invalid &&
          (loginForm.controls['password']?.touched || mouseoverLogin)
        "
        class="error"
        ><i>Required</i></em
      >
      
    </div>
    <input
      [ngClass]="{
        wrong:
          loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].touched || mouseoverLogin)
      }"
      formControlName="password"
      id="password"
      type="password"
      class="input__pin"
    />
    <span
      (mouseenter)="mouseoverLogin = true"
      (mouseleave)="mouseoverLogin = false"
    >
      <button [disabled]="!loginForm.valid" class="input__btn">
        Sign in ➡
      </button>
    </span>
  </form>
  <button class="su" (click)="goToSignUp()">Don't have an account?</button>
</div>

<div *ngIf="hasAccount" class="modal">
  <button (click)="closeModal()" class="btn--close-modal">&times;</button>
  <h2 class="modal__header">Sign Up to get started</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="modal__form">
    <div>
      <label>Email Address</label>
      <em
        *ngIf="
          signUpForm.controls['userMail']?.invalid &&
          signUpForm.controls['userMail']?.touched
        "
        class="error"
        ><i>*Required</i></em
      >
    </div>
    <input formControlName="userMail" type="email" class="input__user" />

    <div>
      <label>What should we call you?</label>
      <em
        *ngIf="
          signUpForm.controls['nickName']?.invalid &&
          signUpForm.controls['nickName']?.touched
        "
        class="option"
        ><i>*Optional</i></em
      >
    </div>
    <input formControlName="nickName" type="text" class="input__user" />
    <div>
      <label>Password</label>
      <em
        *ngIf="
          signUpForm.controls['userKey']?.invalid &&
          signUpForm.controls['userKey']?.touched
        "
        class="error"
        ><i>*Required</i></em
      >
    </div>
    <input formControlName="userKey" type="password" class="input__pin" />
    <button class="input__btn">Sign Up ➡</button>
  </form>
  <button class="su" (click)="goToLogin()">Already have an account?</button>
</div>

<div class="overlay">
  <img src="/assets/img/logo.png" alt="" class="logo" />
  <figure class="notification hidden">
    <div class="notification__body">Successfully Logged in! &#128640;</div>
    <div class="notification__progress"></div>
  </figure>
</div>
