button:disabled:hover {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #535050;
  margin-block: 0.25em;
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #dfd9d9;
  border-radius: 0.3em;
}

@keyframes stroke {
  0% {
    fill: rgba(46, 65, 90, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(46, 65, 90, 0);
    stroke: rgba(255, 255, 255, 1);
  }
  80% {
    fill: rgba(46, 65, 90, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(46, 65, 90, 1);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

@keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    transform: scale(2.75);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slideUpReturn {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform-origin: 0 0;
    transform: translateX(80%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #535050;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  transition: all 0.6s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
}

.header {
  background-color: #535050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.new-nav {
  background-color: #535050;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  height: 2rem;
  margin-left: 3rem;
  transition: all 0.2s;
}

.logo:hover {
  scale: 1.1;
}

.search {
  flex: 0 0 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  font-size: inherit;
  text-align: left;
  color: #d8d6d6;
  background-color: rgba(18, 18, 18, 0.605);
  border: none;
  padding: 0.7rem;
  border-radius: 10px;
  width: 70%;
  text-transform: capitalize;
  margin-left: -3.5rem;
  transition: all 0.2s;
}

.search__input:focus {
  outline: #a49999 solid 1px;
  width: 75%;
}

.search__input:focus ~ .search__btn,
.search__input:valid ~ .search__btn {
  display: none;
}

.search__btn {
  border: none;
  color: #f3f3f3;
  margin-left: -2rem;
  font-size: 1.3rem;
  outline: none;
  background-color: transparent;
}

.user-nav {
  padding: 0.5rem 0.7rem;
}

.navbtns {
  display: flex;
  gap: 1.2rem;
  margin-right: 2rem;
}

.nb {
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  color: #a49999;
  border: 1px solid #a49999;
}
.nb:hover {
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
}
.signupbtn {
  background-color: #2e415a;
}
.loginbtn {
  background-color: transparent;
}

.user__img {
  border-radius: 50%;
  height: 3rem;
  border: 3px solid transparent;
  transition: all 0.5s;
  width: 3rem;
  border: 2px solid transparent;
}

.user__img:hover {
  border: 2px solid #dfd9d9;
  cursor: pointer;
}

.user {
  margin-right: 2rem;
}

.user__img--icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 50%;
  margin-right: 3px;
  margin-bottom: -6px;
  cursor: pointer;
}

.user__name {
  padding-left: 1.2rem;
  font-size: 1rem;
}

.hamburger {
  display: none;
}

.small {
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 0.7rem;
  margin: 0.7rem 0.6rem;
  background-color: #2e415a;
}

.small__p {
  color: #d8d6d6;
}

.small__btn {
  padding: 0.7rem 0.8rem;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  border: 1px solid transparent;
}

.small__btn:hover {
  background-color: #5e687544;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  left: 0;
  top: 0;
  height: 100%;
  /* width: 78px; */
  z-index: 1;
  background: #8c8c8c;
  transition: all 0.5s ease;
  background-color: #535050;
  width: 225px;
  padding-right: 0.6rem;
}
/* .sidebar.open {
  width: 225px;
  padding-right: 0.6rem;
} */
.sidebar .logo-details {
  height: 30px;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .icon {
  opacity: 1;
}
/* .sidebar.open .logo-details .icon {
  opacity: 1;
} */
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 5px;
  height: 100%;
  padding-left: 1.2rem;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: 4rem;
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: #2e415a;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar li .tooltip {
  display: none;
}
/* .sidebar.open li .tooltip {
  display: none;
} */

.sidebar li a {
  display: flex;
  height: 100%;
  width: 64%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(18, 18, 18, 0.605);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s;
}

.sidebar li:hover::before {
  transform: scaleY(1);
  width: 95.5%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}

.navactive {
  background-color: rgba(18, 18, 18, 0.605);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
  width: 95.5%;
}

/* tO HIDE SMALL */
.sidebar li a .links_name,
.legal,
.small {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  display: none;
}

/* tO MAKE SMALL VISIBLE */
.sidebar li a .links_name,
.sidebar .legal,
.sidebar .small {
  opacity: 1;
  pointer-events: auto;
  display: block;
  z-index: 1;
}
/* .sidebar.open li a .links_name,
.sidebar.open .legal,
.sidebar.open .small {
  opacity: 1;
  pointer-events: auto;
  display: block;
  z-index: 1;
} */

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  border-radius: 12px;
  z-index: 1;
}

.home_ {
  position: relative;
  min-height: 100vh;
  top: 0;
  color: #d8d6d6;
  width: 91%;
  transition: all 0.5s ease;
}

/* .sidebar.open ~ .home_ {
  width: calc(100% - 250px);
} */

.box {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #2e415a;
  padding: 1rem;
  height: 100%;
}

.nav__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: #f3f3f3;
}

.legal {
  font-size: 1rem;
  font-weight: 100;
  padding-top: 0.5rem;
  text-transform: capitalize;
  padding-left: 2rem;
  color: rgba(255, 255, 255, 0.649);
  border-top: 1px solid #a49999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  background-color: #f3f3f3;
  padding: 3rem 2.5rem;
  z-index: 3;
  border-radius: 7px;
}

.overlay {
  position: fixed;
  padding: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 2;
  transition: all 0.5s;
}

.modal__header {
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
  line-height: 1;
  color: #33619c;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__form label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #535050;
}

.modal__form input {
  font-size: 1rem;
  padding: 0.6rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
.modal__form input:focus,
.modal__form input:active {
  border: 1px solid #a49999;
  outline: none;
}

.modal__form button {
  background-color: #33619cf2;
  padding: 0.6rem;
  font-size: 0.9rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
}
.modal__form button:hover {
  background-color: #33619c;
}

.error {
  float: right;
  color: #ff0011bf;
  font-size: 0.8rem;
  outline: 1px solid #ff5049 !important;
}
.error-text {
  float: right;
  color: #ff0011bf;
  font-size: 0.8rem;
}
.option {
  float: right;
  font-size: 0.8rem;
  color: rgba(45, 107, 200, 0.786);
}

.wrong {
  outline: 1px solid #ff5049 !important;
  animation: shake 0.5s 3 ease;
}

.su {
  background-color: transparent;
  border: none;
  color: #a49999;
  padding-top: 1rem;
  transition: all 0.1s;
  font-weight: bold;
}

.su:hover {
  text-decoration: underline;
  color: #ffffffbf;
}

.btn--close-modal {
  color: inherit;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2.3rem;
  cursor: pointer;
  border: none;
  background: none;
}

.google__container {
  display: flex;
  justify-content: center;
}
.input__btn {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.input__btn img {
  height: 24px;
}

.input__btn:hover {
  transform: scale(1.02);
}

.home__nav {
  background-color: #2e415a;
  height: 1.5rem;
  padding-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__greeting {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.feature__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-row-gap: 2rem;
  place-items: center;
}

.feature {
  height: 22rem;
  border-radius: 5%;
  background-color: #5e687544;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.6s;
  width: 16rem;
}

.feature:hover {
  border: 1px solid #fff;
}

.feature__img {
  width: 17rem;
  height: 14rem;
}

.feature__block {
  padding: 0.5rem;
  margin: 0;
}

.feature__heading {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0;
}

.feature__p {
  font-size: 1rem;
  color: #dfd9d9;
}

.player {
  color: #f3f3f3;
  position: fixed;
  bottom: 2rem;
  left: 20%;
  width: 73%;
  padding: 0.5rem 2rem;
  background-color: #535050ec;
  border-radius: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.player-main {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__fig {
  margin: 0;
}

.player__fig img {
  margin: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 20%;
}

.player__icons {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.player__icon,
.heart-icon {
  cursor: pointer;
  height: 1.9rem;
  width: 1.9rem;
  fill: #f3f3f3;
}

.view-icon {
  cursor: pointer;
  height: 1.9rem;
  width: 1.9rem;
  fill: #a49999;
  transition: fill 0.5s;
}

.heart-icon:active {
  animation: pulse 0.1s infinite;
}

.menu-icon {
  height: 1.7rem;
  width: 1.7rem;
  fill: #f3f3f3;
}

.player__icon:active,
.menu-icon:active {
  animation: pulse 0.5s ease;
  color: #f3f3f3;
  cursor: pointer;
}

.player__mov {
  position: absolute;
  bottom: 9px;
  left: 4px;
  height: 2px;
  z-index: 1;
  background: linear-gradient(to right, #a49999, #fff);
}

.move {
  appearance: none;
  width: 52.4vw;
  height: 2px;
  background-color: #a49999;
  transition: all 0.3s ease;
  cursor: pointer;
}

.player__mover {
  position: absolute;
  bottom: 9px;
  left: 4px;
  height: 2px;
  width: 98%;
  background-color: #797373;
}
.playing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
  transition: all 0.5s;
  background-color: #535050;
  height: 90vh;
  padding: 0 2rem;
  width: 55%;
  border-radius: 5px;
}

.playing-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playing-img {
  height: auto;
  width: 12rem;
  border-radius: 7px;
}

.playing-overlay {
  position: fixed;
  padding: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 100;
  transition: all 0.5s;
}

.playing__header {
  display: flex;
  color: #f3f3f3;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.playing__header span {
  font-size: 2rem;
  cursor: pointer;
  color: #f3f3f3;
}

.playing__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 0;
}

.playing__name {
  font-size: 1.5rem;
  margin: 0;
  color: #f3f3f3;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}

.playing__artist {
  font-size: 1.2rem;
  margin: 0;
  color: #f3f3f3;
}

.playing__icons {
  list-style: none;
  display: flex;
  color: #a49999;
  justify-content: space-between;
}

.playing__icon {
  fill: #f3f3f3;
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
  transition: fill 0.4s;
}

.playing__icon--small {
  fill: #f3f3f3;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: fill 0.4s;
}

.playing__icon:hover,
.playing__icon--small:hover {
  fill: #33619c;
}

.movement {
  padding: 0.7rem;
  background-color: #2e415a;
  border-radius: 0.7rem;
}

.playing__mover {
  position: absolute;
  height: 2px;
  width: 86%;
  background-color: #797373;
}

.movement__progress {
  position: absolute;
  height: 2px;
  max-width: 86%;
  width: 0;
  background: linear-gradient(to right, #a49999, #fff);
  z-index: 1;
}

.time {
  display: flex;
  color: #f3f3f3;
  align-items: center;
  justify-content: space-between;
}

.timing {
  font-size: 0.9rem;
  margin: 0;
  padding-top: 0.5rem;
  color: #a49999;
}

.big__play {
  height: auto;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: #d8d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
}

.big__play:hover {
  background: #c2c1c1;
}

.list__icon {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.playlist__list li {
  padding: 0.1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.9s;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.playlist__list li:hover {
  background-color: #4f627ba4;
  border-radius: 9px;
}

.view-icons {
  display: flex;
  /* gap: 2rem; */
  align-items: center;
  justify-content: center;
}

.playlist-close {
  margin-top: 2rem;
}

.top__container {
  display: flex;
  gap: 1.2rem;
}

.close__btn {
  padding-bottom: 0.5rem;
  fill: transparent;
  background-color: transparent;
  border: none;
}

.top__fig--container {
  border-radius: 5px;
  background-color: #425670;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
}
.top__fig {
  fill: #d8d6d6;
  height: 4rem;
  width: 4rem;
}

.header__heading {
  font-size: 3rem;
  margin: 0;
  text-transform: capitalize;
}

.create__name--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__name {
  background-color: #535050;
  position: relative;
  padding: 2rem;
  width: 25rem;
  border-radius: 5px;
  height: max-content;
  z-index: 3;
  position: fixed;
}

.create__name--heading {
  color: #f3f3f3;
  font-size: 1.2rem;
}
.create__name--close {
  position: absolute;
  color: inherit;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.create__name--flex {
  display: flex;
  gap: 1.2rem;
}

.create__name---img-container {
  background-color: #686666ec;
  border-radius: 5px;
  display: grid;
  width: 5rem;
  place-items: center;
  padding: 2rem;
}

.create__name---svg {
  fill: #d8d6d6;
  width: 4rem;
  height: 4rem;
}

.create__name---form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create__name---name-label {
  font-size: 1rem;
  font-weight: 500;
  color: currentColor;
}

.create__name---name-input {
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.create__name---name-input:focus,
.create__name---name-input:active {
  border: 1px solid #a49999;
  outline: none;
}

.create__name---form textarea {
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  max-width: 240px;
  min-width: 240px;
  max-height: 60px;
  min-height: 40px;
}

.bn5 {
  padding: 0.7rem 1.2rem;
  border: none;
  outline: none;
  color: #ddd;
  float: right;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #d8d6d6,
    #33619c,
    #ddd,
    #d8d6d6,
    #535050,
    #d8d6d6,
    #425670,
    #a49999,
    #425670
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2e415a;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.search_ {
  position: absolute;
  top: 4rem;
  height: 12rem;
  overflow-y: scroll;
  left: 19.5rem;
  width: 34%;
  padding: 2rem;
  background: rgba(66, 86, 112, 0.45);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
  color: #dfd9d9;
  /* animation: slideUpReturn 0.9s ease; */
  animation: swashIn 0.4s ease;
}
.search__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search__li {
  list-style: none;
  position: relative;
  padding: 0.3rem;
}

.search__li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.18);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.9s ease;
}

.search__li:hover::before {
  transform: scaleX(1);
  width: 100%;
  border-radius: 10px;
}

.search__fig,
.playlist__fig {
  margin: 0;
  padding-right: 2rem;
  padding-top: 4px;
}

.search__fig img,
.playlist__fig img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.search__link,
.playlist__link {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f3f3f3;
}

.playlist__name {
  margin: 0;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}

.search__name {
  margin: 0;
  padding-bottom: 0.2rem;
  text-transform: capitalize;
}

.search__artist,
.playlist__artist {
  margin: 0;
  color: #d8d6d6;
  text-transform: capitalize;
}

.display {
  color: #dfd9d9;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  width: 11rem;
  position: absolute;
  right: 3rem;
  top: 4.5rem;
  background: rgba(66, 86, 112, 0.45);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: slideUpReturn 0.9s ease;
  z-index: 2;
}

.display::before {
  content: "";
  position: absolute;
  top: -17px;
  right: 20px;
  height: 6.2%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.18);
}

.display__span {
  position: absolute;
  top: 0.4rem;
  right: 0.9rem;
  font-size: 1.3rem;
  padding: 0 0.3rem;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.display__salute {
  margin: 0;
  padding-bottom: 0.5rem;
}
.display__links {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0;
  margin-top: 0.2rem;
}
.display__link {
  list-style: none;
  text-transform: capitalize;
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.display__link:hover {
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 5px;
  cursor: pointer;
}

.display__logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display__icon {
  height: 1.3rem;
  width: 1.5rem;
  fill: #dfd9d9;
}

.display__close {
  color: #dfd9d9;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #9f3939;
  padding: 0.5rem 3.5rem;
  border-radius: 3px;
  text-align: left;
  margin-top: 0.5rem;
  transition: all 0.4s ease;
}

.display__close:hover {
  background-color: #b83535;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}

.notvisible {
  opacity: 0;
  transition: all 0.3s ease-in;
  transform: translateY(-100%);
}

/* Display menu */
.display__menu {
  color: #dfd9d9;
  padding: 1.5rem 1.2rem;
  width: 15rem;
  position: absolute;
  right: 3rem;
  top: 4.2rem;
  background: rgba(66, 86, 112, 0.45);
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: slideLeft 0.9s ease;
  z-index: 2;
}

.display__menu::before {
  content: "";
  position: absolute;
  top: -13px;
  right: 20px;
  height: 3.9%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.18);
}

.setting__menu::before {
  height: 4.4%;
}
.support__menu::before {
  height: 6%;
}
.logout__menu::before {
  height: 6%;
}

.display__menu--close {
  background-color: transparent;
  border: none;
}

.display__menu--icon {
  height: 1.4rem;
  width: 1.4rem;
  fill: rgba(255, 255, 255, 0.47);
  position: absolute;
  top: 0.8rem;
  left: 0.7rem;
  transition: fill 0.4s ease;
}

.display__menu--icon:hover {
  fill: #dfd9d9;
}

.display__menu--img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 1.2rem;
  flex-direction: column;
  gap: 0.4rem;
}

.display__menu__icon {
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 50%;
}

.display__menu--profile-img {
  border-radius: 50%;
  width: 5rem;
}

.display__menu--form {
  display: grid;
  place-items: center;
}
.display__menu--input {
  height: 35px;
  color: #dfd9d9;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 1px;
  margin-bottom: 0.7rem;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 0 0.5rem;
  font-family: inherit;
}
.display__menu--input:focus {
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
}
.display__menu--input::placeholder {
  color: #dfd9d9;
  font-weight: 100;
  font-family: inherit;
}

.display__menu--btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 1rem;
}

.display__menu--btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
}

.display__menu--cancel {
  background-color: rgba(255, 0, 0, 0.208);
  color: #eaf0fb;
  border: 2px solid transparent;
}

.display__menu--cancel:hover {
  border: 2px solid transparent;
  background-color: rgba(255, 0, 0, 0.429);
}

.display__menu--save {
  border: 2px solid rgba(255, 255, 255, 0.18);
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  padding: 0.5rem 1.5rem;
}

.display__menu--save:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.display__menu--toggles {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.display__menu--toggle {
  align-items: center;
  display: flex;

  justify-content: space-around;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.47);
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 8px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(270deg);
  background-color: #eaf0fb;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #39ad5687;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5rem);
}

.display__menu--salute {
  font-size: 1.2rem;
  text-align: center;
}

svg {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
}

/* Loading Animation */
.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #dfd9d9;
  --second-color: #dfd9d9;
  --third-color: #dfd9d9;
  --fourth-color: #dfd9d9;
  --fifth-color: #dfd9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}
.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

.i {
  position: relative;
  height: 40px;
}

.eye {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  width: 1.2rem;
  cursor: pointer;
}

.input__pin {
  font-size: 1rem;
  padding: 0.6rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 96%;
}

.input__pin:focus,
.input__pin:active {
  border: 1px solid #a49999;
  outline: none;
}
.remove__search {
  display: none;
}

.pricing-section {
  padding: 40px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-header {
  max-width: 2xl;
  margin: 0 auto 16px;
}

.pricing-plans {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  justify-content: center;
  align-content: center;
}

.pricing-plan {
  margin: 0 8px 16px;
  border: 1px solid #a49999;
  border-radius: 7px;
  width: 300px;
}

.plan-content {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 24px;
  border-radius: 8px;
}

.plan-bold {
  font-size: 1.4rem;
  padding-bottom: 5px;
  margin: 0;
}

.pricing {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2px;
  margin: 0;
}

.pricing span {
  font-size: 1rem;
  margin: 0;
}

.plan-details {
  margin-bottom: 16px;
}

.features-list {
  position: relative;
  margin-bottom: 24px;
  list-style: none;
  padding: 0;
}

.features-list li {
  display: flex;
  margin-bottom: 8px;
  font-size: 13px;
}

.features-list li::before {
  position: absolute;
  content: "\2713";
  left: -14px;
  color: #3c8e04;
  font-weight: bold;
}

.get-started-btn {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  text-decoration: none;
  outline: none;
  border: none;
  border: 1px solid #a49999;
}

.premium__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
}
.premium__list svg {
  height: 5rem;
  width: 5rem;
}

.premium__header {
  font-size: 1.7rem;
  padding-bottom: 1rem;
  padding-left: 15px;
}

.premium__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.premium__p {
  font-size: 16px;
  font-weight: bold;
  padding-top: 8px;
  margin: 0;
}

.modal__p {
  font-size: 13px;
}

.home_ {
  width: 100%;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .feature__grid {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  .feature {
    width: 16rem;
  }

  .player {
    left: 23.5%;
    width: 68%;
  }

  .playing {
    height: 80vh;
  }

  .playing-img {
    width: 10rem;
  }

  .playing__name {
    font-size: 1.2rem;
  }

  .playing__artist {
    font-size: 1rem;
  }

  .playing__icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .playing__icon--small {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1065px) {
  .feature {
    width: 15rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .feature__grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .feature {
    width: 19rem;
    display: flex;
    height: auto;
    border-radius: 9px;
    min-height: 7.5rem;
  }

  .feature__img {
    width: 8rem;
    height: auto;
    border-radius: 11px;
  }

  .feature__p {
    font-size: 0.8rem;
  }

  .feature__heading {
    font-size: 1.1rem;
  }
  .feature__block {
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .player {
    left: 31%;
    width: 59%;
  }

  .playing {
    height: 72vh;
    width: 50%;
  }
  .playing-img {
    width: 9rem;
  }

  .playing__name {
    font-size: 1.2rem;
  }

  .playing__artist {
    font-size: 1rem;
  }

  .player__icon,
  .heart-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .movement {
    padding: 0 0.4rem;
    font-size: 0.9rem;
  }

  .move {
    width: 48vw;
  }

  .playing__icon--small {
    width: 2rem;
    height: 2rem;
  }

  .playing__icon {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 745px) and (max-width: 768px) {
  .feature__grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .search {
    flex: none;
    width: 20rem;
  }

  .display {
    padding: 0.8rem 1.2rem;
    width: 11rem;
  }

  .display__menu {
    padding: 0.5rem 0.4rem;
  }

  .display__menu__icon {
    height: 1rem;
    width: 1rem;
  }

  .feature {
    width: 15rem;
    display: flex;
    height: auto;
    border-radius: 9px;
    align-items: center;
  }

  .feature__p {
    display: none;
  }

  .feature__img {
    width: 5rem;
    height: 5rem;
  }

  .playing__icon--small {
    display: none;
  }

  .menu-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .playing__icon {
    width: 2.7rem;
    height: 2.7rem;
  }

  .playing__icons {
    padding: 0;
  }

  .playing__name {
    font-size: 1rem;
  }

  .logo {
    margin-left: 1.5rem;
  }

  .player {
    left: 31%;
    width: 59%;
  }

  .playing {
    height: 82vh;
  }

  .modal {
    padding: 1rem 2.5rem;
  }

  .btn--close-modal {
    top: 0rem;
    right: 0.8rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 745px) {
  .feature__grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .search {
    flex: none;
    width: 20rem;
  }

  .search__input {
    text-transform: capitalize;
    margin-left: 0;
  }

  .search__input:focus {
    outline: #a49999 solid 1px;
  }

  .search_ {
    left: 6.5rem;
    width: 62%;
  }
  .display {
    padding: 0.8rem 1.2rem;
    width: 11rem;
    right: 0;
  }

  .display__menu {
    padding: 0.5rem 0.4rem;
    right: 0;
    width: 13rem;
  }

  .display__menu__icon {
    height: 3rem;
    width: 3rem;
    padding: 1rem;
  }

  .feature {
    width: 15rem;
    display: flex;
    height: auto;
    border-radius: 9px;
    align-items: center;
  }

  .feature__p {
    display: none;
  }

  .feature__img {
    width: 5rem;
    height: 5rem;
  }

  .playing-img {
    height: auto;
    width: 10rem;
  }

  .playing__icon--small {
    display: none;
  }

  .menu-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .playing__icon {
    width: 2.7rem;
    height: 2.7rem;
  }

  .playing__icons {
    padding: 0;
  }

  .playing__name {
    font-size: 1rem;
  }

  .logo {
    margin-left: 1.5rem;
    height: 1.2rem;
  }

  .player {
    left: 5%;
    width: 72%;
  }

  .sidebar ~ .home_,
  .sidebar ~ .box {
    width: 100%;
  }

  .feature {
    width: 14rem;
  }

  .header__heading {
    font-size: 2rem;
  }
  .abstract {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }

  .sidebar {
    display: block;
    width: 10%;
  }

  .playing {
    height: 82vh;
  }

  .modal {
    padding: 2rem 2.5rem;
  }

  .btn--close-modal {
    top: 0rem;
    right: 0.8rem;
  }

  .heart-icon {
    display: none;
  }

  .sidebar li a .links_name,
  .sidebar .legal,
  .sidebar .small {
    opacity: 1;
    pointer-events: auto;
    display: none;
    z-index: 1;
  }

  .sidebar li .tooltip {
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .feature__grid {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    width: 91%;
  }

  .display {
    padding: 1.5rem 1rem;
    right: 0.8rem;
    top: 5rem;
  }

  .display::before,
  .display__menu::before {
    display: none;
  }

  .player {
    left: 5%;
    bottom: 2rem;
    padding: 0.5rem 1rem;
    width: 81%;
  }

  .playing-img {
    height: auto;
    width: 10rem;
  }

  .playing__icon--small,
  .playing__figure,
  .next,
  .prev,
  .three__dots {
    display: none;
  }

  .playing {
    height: auto;
    padding: 0 1rem;
    width: 82%;
  }

  .player-main {
    width: 83%;
  }

  .menu-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .move {
    width: 83.4vw;
  }

  .playing__icon {
    width: 2.7rem;
    height: 2.7rem;
  }

  .playing__icons {
    padding: 0;
  }

  .playing__name {
    font-size: 1.2rem;
  }

  .display__menu {
    padding: 0.5rem 0.4rem;
    right: 0.8rem;
    width: 13rem;
    top: 5rem;
  }

  .display__menu__icon {
    height: 3rem;
    width: 3rem;
    padding: 1rem;
  }

  .heart-icon {
    display: none;
  }

  .header {
    overflow: hidden;
    height: 4rem;
  }

  .modal__form input {
    width: 94.5%;
  }

  .user {
    margin-right: 0.5rem;
    /* position: absolute;
    top: 2rem;
    right: 0.4rem; */
  }

  .user__img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .feature {
    width: 20rem;
    display: flex;
    height: auto;
    border-radius: 9px;
    align-items: center;
  }

  .home_,
  .box {
    width: 100%;
  }
  .feature__p {
    display: none;
  }

  .feature__img {
    width: 5rem;
    height: 5rem;
  }

  .modal {
    padding: 2rem 2.5rem;
    width: 16rem;
    background-color: transparent;
    top: 50%;
  }

  .top__fig--container {
    display: none;
  }

  .header__heading {
    font-size: 2rem;
  }

  .sidebar.open ~ .home_,
  .sidebar.open ~ .box {
    width: 100%;
  }

  .navbtns {
    margin-right: 1rem;
    gap: 1.5rem;
    position: absolute;
    right: 0%;
  }

  .nb {
    padding: 0.6rem 1rem;
  }

  .search_ {
    left: 1rem;
    width: 74%;
    height: 70%;
  }

  .feature__heading {
    font-size: 1rem;
  }

  .modal__header {
    font-size: 1.4rem;
    margin-bottom: 0.9rem;
    line-height: 1;
    color: #d8d6d6;
    text-align: center;
  }
  .modal__form label {
    font-size: 0.8rem;
    color: #a49999;
  }

  .input__btn {
    font-size: 0.8rem;
  }

  .btn--close-modal {
    top: -1rem;
    right: 2.1rem;
    color: #a49999;
  }

  .remove__search {
    display: block;
    color: inherit;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.3rem;
    cursor: pointer;
    border: none;
    background: none;
  }

  .player__icons {
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .logo {
    height: 1.5rem;
    position: absolute;
    left: -2rem;
    padding: 0.5rem;
  }

  .search__input {
    width: 34%;
    position: absolute;
    left: 12.5rem;
  }

  .search__input:focus {
    width: 11rem;
  }

  .display__span {
    position: absolute;
    top: 0.4rem;
    right: 0.9rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .display__salute {
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.6rem;
  }

  .premium__header {
    padding-bottom: 0;
    font-size: 1.5rem;
  }

  .premium__list {
    display: grid;
    grid-row-gap: 1rem;
    padding: 0;
    padding-left: 0px;
    padding-left: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .input-container svg {
    height: 2.2rem;
    padding-top: 1.2rem;
  }

  .premium__list svg {
    height: 4rem;
    width: 4rem;
  }

  .modal__p {
    font-size: 17px;
  }

  .pricing-section {
    padding: 30px 0;
  }

  .create__name {
    width: 78%;
  }

  .bn5 {
    padding: 1rem 1.5rem;
    font-size: 17px;
  }

  .sidebar ~ .home_,
  .sidebar ~ .box {
    width: 100%;
    display: none;
  }

  .sidebar {
    width: 100%;
    padding-right: 0.6rem;
  }

  .small {
    opacity: 1;
    pointer-events: auto;
    display: block;
    z-index: 1;
    width: 55%;
  }

  .sidebar li:hover::before {
    transform: scaleY(1);
    width: 95.5%;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
  }

  .navactive {
    background-color: rgba(18, 18, 18, 0.605);
    border-radius: 10px;
    z-index: 1;
    width: 95.5%;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 2.2rem;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .hamburger input {
    display: none;
  }

  .burger {
    top: 2%;
  }
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2.5em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
}

/* Extra Small Devices, Phones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Your CSS for extra small devices */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Your CSS for small devices */
}

/* Medium Devices, Laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS for medium devices */
}

/* Large Devices, Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Your CSS for large devices */
}

/* Extra Large Devices, Large Desktops */
@media only screen and (min-width: 1201px) {
  /* Your CSS for extra large devices */
}
