<div class="container">
  <header class="header">
    <img [src]="imageUrl" alt="logo" class="logo" />
  </header>

  <main class="flex">
    <div class="navigation">
      <nav class="sidenav">
        <div class="small">
          <h2 class="small__p">Create your first playlist</h2>
          <p class="small__p">It's easy, we'll help you</p>
          <button class="small__btn">Create playlist</button>
        </div>
        <div class="small">
          <h2 class="small__p">Create your first playlist</h2>
          <p class="small__p">It's easy, we'll help you</p>
          <button class="small__btn">Create playlist</button>
        </div>

        <ul class="nav">
          <li class="nav__item">
            <a (click)="goToModal()" class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-reload"></use>
              </svg>
              <span>history</span>
            </a>
          </li>
          <li class="nav__item">
            <a (click)="goToModal()" class="nav__link">
              <svg class="nav__icon">
                <use xlink:href="/assets/img/sprite.svg#icon-credit-card"></use>
              </svg>
              <span>subscription</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="home">
      <h1 class="heading-1">{{ title }}</h1>
      <h2 class="heading-2">Connecting paths...come with us!</h2>
      <button class="signup-btn" (click)="goToModal()">Play🎧</button>
    </div>
  </main>
</div>
